<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/material-design-lite/material.css" media="screen" title="no title" charset="utf-8">
    <audio src="http://www.pacdv.com/sounds/miscellaneous_sounds/water-splash-2.mp3" type="audio/x-wav" controls autoplay="autoplay"></audio>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <!-- <script type="text/html" id="outcomeTmpl">
    <h1><%=content%></h1>

    </script> -->


    <script type="text/html" id="housewifeTmpl">

    <style>
    .demo-card-image.mdl-card#<%=name%>{
      width: 260px;
      height: 260px;
      background: url(<%= image %>) center / cover;
      border-radius: 10px;
    }
    .demo-card-image > .mdl-card__actions {
      height: 52px;
      padding-bottom: 25px;
      background: #ededed;
    }
    .demo-card-image__filename {
      color: #ff6562;
      /*font-size: 8px;*/
      font-weight: 500;
      font-family: 'Syncopate';
    }
    </style>

    <div class="demo-card-image mdl-card mdl-shadow--2dp" id="<%=name%>">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename"><%= name %> | <%= job %><br><%= age %></span>
      </div>
    </div>

    </script>


    <script type="text/html" id="foodTmpl">

    <div class="demo-card-image mdl-card mdl-shadow--2dp" id="<%=name%>" class="food">
      <img src="<%=image%>" />
      <img src="<%=image2%>" class='hidden' />
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename"></span>
      </div>
    </div>

    </script>

    <script type="text/html" id="weaponTmpl">

    <div class="demo-card-image mdl-card mdl-shadow--2dp nextpage" id="<%=name%>">
      <img src="<%=image%>" />
      <img src="<%=image2%>" class='hidden' />
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename"></span>
      </div>
    </div>

    </script>

    <script type="text/html" id="nannyTmpl">


    <div class="demo-card-image mdl-card mdl-shadow--2dp nextpage" id="<%=name%>">
      <img src="<%=image%>" />
      <img src="<%=image2%>" class='hidden' />
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename"></span>
      </div>
    </div>

    </script>

    <script type="text/html" id="drinkTmpl">

    <div class="demo-card-image mdl-card mdl-shadow--2dp" id="<%=name%>">
      <img src="<%=image%>" />
      <img src="<%=image2%>" class='hidden' />
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__actions">
        <span class="demo-card-image__filename"></span>
      </div>
    </div>

    </script>

  </head>
  <body>



<section class="container">

<section class="page1 default">


          <h1>The Middle-Aged<br><span>HouseWife</span><br> Game</h1>
              <img src="http://www.clipartsfree.net/vector/medium/1312085608_Clip_Art.png" class="olive">
          <i class="fa fa-glass gotoplaces">
            <p>Click To Play!</p>
          </i>


            <!-- <button class="mdl-button mdl-js-button">
            CLICK TO PLAY
            </button> -->
          <!-- <img src="http://lmaolyfe.com/wp-content/uploads/2015/07/tumblr_m5sdvhN6Rn1r1wdpvo1_500.gif" alt=""> -->



</section>

<section class="infopage hidden">
<div><h1>Here's What You Do:</h1>
  <p>1. Choose the Housewife you want to be <br> 2. Choose one item from each row <br> 3. See how good of a Housewife you are!  </p>
  <button class="mdl-button mdl-js-button start">
  PLAY!
  </button>
</section>

<section class="page2 hidden">
  <i class="fa fa-glass" id="nextpage">
    <p>continue</p>
  </i>

  <!-- <button class="mdl-button mdl-js-button fa fa-glass" id="nextpage">
    <i class="fa fa-glass">CONTINUE</i>
  </button> -->

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col" id="people">
      <button class="mdl-button mdl-js-button">
      Who are you?
      </button>
      <div class="info"></div>
      </div>
    <div class="mdl-cell mdl-cell--4-col" id="food">

      <button class="mdl-button mdl-js-button">
      What's for Dinner?
      </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col" id="weapon">
      <button class="mdl-button mdl-js-button">
      Choose your Weapon!
      </button>
    </div>
  </div>


</section>


<section class="page3 hidden">


  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col" id="nanny">
      <button class="mdl-button mdl-js-button">
      Choose your Nanny!
      </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col" id="drink">
      <button class="mdl-button mdl-js-button">
      What's your drink of choice?
      </button>
    </div>
    <div class="mdl-cell mdl-cell--4-col" id="points">
      <button class="mdl-button mdl-js-button">
      Points!
      </button>
      <div class="totalpoints"></div>

      <button class="mdl-button mdl-js-button points">
      CLICK<br>FOR TOTAL<br>POINTS
    </button>

    </div>
  </div>

  <div class="playagain">

    <button class="mdl-button mdl-js-button play" id="reset-button">
    PLAY AGAIN
  </button>
  </div>


</section>


<section class="page4">



</section>

</section> <!--end of container-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" charset="utf-8"></script>
    <script src="temp.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
  </body>
</html>
